.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  text-align: center; /* para IE6 */
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  background-color: #9FC5E9;
}

#container {
  width: 770px;
  text-align: left; /* para IE6 */
  margin: 0 auto;
  margin-top: 15px;
  background-color: #D5D5D5;
  overflow: hidden;
}

#cabecalho {
  background-color: #ccc;
  border-top: 10px solid #b9d3a4;
}

#cabecalho .nav {
  overflow: hidden;
  border-top: 1px solid #BABABA;
}

#cabecalho .nav li {
  float: left;
}

#cabecalho .nav a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #5794c1;
}

#logotipo {
  margin: 25px 0 15px 25px;
  width: 387px;
  height: 54px;
  background: url("../images/logo.gif") no-repeat;
}

#logotipo a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  height: 54px;
}

#chamada {
  background: #5794c1 url("../images/muleke.jpg") no-repeat 0 0;
  padding-left: 420px;
  padding-top: 15px;
  height: 244px;
}

#chamada h2,
#chamada p {
  color: white;
}

#chamada h2 {
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 15px;
}

#chamada p {
  line-height: 180%;
}

#conteudo {
  float: left;
  width: 462px;
  padding: 20px 15px;
}

#conteudo p,
#conteudo h3 {
  color: #878787;
  line-height: 180%;
  margin-bottom: 15px;
}

#sidebar {
  float: left;
  width: 248px;
  background-color: #BABABA;
  padding: 15px;
  font-size: 14px;
}

#sidebar input {
  border: none;
  width: 228px;
  padding: 5px 10px;
}

#sidebar label {
  color: #444;
  text-transform: lowercase;
  margin-bottom: 5px;
  display: block;
}

#sidebar .titulo {
  color: #195157;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

#sidebar .separador {
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

#sidebar .nav-local a {
  color: #444;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

#rodape {
  clear: both;
  text-align: left; /* para IE6 */
  width: 770px;
  margin: 15px auto;
}

#rodape h1 {
  width: 191px;
  height: 27px;
  background: url("../images/logo-rodape.gif") no-repeat;
  float: left;
}

#rodape h1 a {
  display: block;
  width: 191px;
  height: 27px;
  text-indent: -9999px;
  overflow: hidden;
}

#rodape  address {
  float: right;
  font-style: normal;
  color: #727272;
}

#rodape .telefone {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

#rodape .address {
  display: block;
  margin-top: 10px;
}
