#container {
  margin: 0 auto;
  width: 800px;
  /* overflow: hidden; */
}

#esquerda,
#direita {
  width: 150px;
}

#central {
  width: 480px;
}

#esquerda,
#central {
  float: left;
  border: 1px solid red;
}

#direita {
  float: right;
  border: 1px solid blue;
}

#cabecalho .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#esquerda {
  clear: left;
}

#cabecalho .nav li {
  float: left;
}

#cabecalho a {
  padding: 10px 20px;
  display: block;
}

#cabecalho a:hover {
  background: gray;
}


.esquerda {
  float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

